footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    opacity: 0.7;
    border-top: 1px solid white;
    background-color: #FF99C9;
    color: aliceblue;
    padding: 0 clamp(12px, 5vw, 60px);
}