header {
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    padding: 0 clamp(12px, 5vw, 60px);
    font-weight: 500;
    font-style: normal;
    background-color: #FF99C9;
    color: #fff;
    text-shadow:
        0 0 4px rgba(255, 255, 255, 0.6),
        0 0 10px rgba(255, 192, 203, 0.6);
}

.header-title {
    font-size: clamp(1rem, 3vw, 1.8rem);
}

.date-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
}

.calendar-icon,
.date-container {
    font-size: clamp(0.8rem, 2vw, 1.5rem);
}

.date-container > p {
    font-weight: 600;
}

@media (max-width: 768px) {
    .calendar-icon,
    .date-container {
        font-size: 0.9rem;
    }
}