header {
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    font-family: "Love Ya Like A Sister", cursive;
    font-weight: 500;
    font-style: normal;
    background-color: #FF99C9;
    color: #fff;
    text-shadow:
        0 0 4px rgba(255, 255, 255, 0.6),
        0 0 10px rgba(255, 192, 203, 0.6);
}

.date-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
}

.calendar-icon {
    font-size: 1.5rem;
}

.date-container > p {
    font-size: 1.5rem;
    font-weight: 600;
}